footer {
  .copyright {
    display: inline flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: start;
    height: 1lh;
    gap: 3px;

    .copyright-text {}

    .copyright-image {
      flex: 0 0 auto;
      position: relative;
      width: 1lh;

      img {
        position: absolute;
        height: 100%;
      }

    }
  }
}