<!DOCTYPE html>
<html lang="en-CA">
  <head>
    {% if page.force_title %}
      <title>{{ page.force_title | default: 'Cameron Rodriguez' }}</title>
    {% else %}
      <title>{{ page.title | append: ' | Cameron Rodriguez'  | default: 'Cameron Rodriguez' }}</title>
    {% endif %}

    {% if page.html_heads %}
      {% for head in page.html_heads %}
        {{ head }}
      {% endfor %}
    {% endif %}

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#2e77d7">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="/assets/css/styles.css">
    {% if page.html_styles %}
      {% for styler in page.html_styles %}
        <link rel="stylesheet" href="/assets/css/{{ styler }}"/>
      {% endfor %}
    {% endif %}

    {% if page.html_scripts %}
      {% for script in page.html_scripts %}
        <script src="/assets/js/{{ script }}"></script>
      {% endfor %}
    {% endif %}

    {% seo title=false %}
  </head>

  <body>
    <header>
      <nav>
        <details>
          <summary>Navigation links</summary>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/blog">Blog</a></li>
          </ul>
        </details>
      </nav>
    </header>
    {{ content }}
  </body>
</html>